.dashboard {
  padding: 10px 22px;
}
.dashboard__card {
  height: 136px;
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 30px;
}
.dashboard__paragraph {
  margin: 0;
  font-size: 15px;
}
h2 {
  margin: 0;
  margin-bottom: 13px;
  font-size: 40px;
}
.dashboard__subheader {
  margin-top: 28px;
  font-size: 20px;
}
.accounts__row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 9px;
  margin-bottom: 15px;
}
.accounts__row:nth-last-child(1) {
  border: none;
}
.image__container {
  height: 57px;
  width: 57px;
  background-color: #c4c4c4;
  border-radius: 100%;
  margin-right: 26px;
}
.row-text__container {
  margin-right: auto;
  .row__text {
    margin: 0;
  }
  .row__text:first-child {
    font-size: 20px;
  }
  .row__text:nth-child(2) {
    font-size: 12px;
  }
}

.row__icon:nth-last-child(1) {
  margin-left: 16px;
}
