.dashboard {
  padding: 0 22px;
}
.dashboard__card {
  height: 136px;
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 30px;
}
.dashboard__subheader {
  margin-top: 28px;
}
.accounts__row {
  display: flex;
}
