.homescreen {
  padding: 0 19px;
  display: flex;
  flex-direction: column;

  &__sub-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 20px 0 22px 0;
  }
  &__card {
    width: 110%;
    margin-left: -5%;
    border-radius: 30px;
    &-link {
      margin: 8px 0;
    }
  }
  &__link {
    text-decoration: none;
    color: black;
  }
  &__new-card {
    width: 80%;
    border-radius: 15px;
    background-color: #c04800;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__add-new-card-text {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
  }
}
.homescreen__link {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
