.homescreen {
  padding: 0 19px;
  display: flex;
  flex-direction: column;

  &__sub-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 20px 0 22px 0;
  }
  &__card {
    height: 120px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-left: 1.9rem solid #0659a5;
    &-link {
      margin: 8px 0;
    }
  }
  &__link {
    text-decoration: none;
    color: black;
  }
  &__new-card {
    width: 103px;
    height: 103px;
    border-radius: 50%;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__add-new-card-text {
    width: 75px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
}
.homescreen__link {
  display: flex;
  justify-content: center;
  width: 103px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
