.header__top-section {
  display: flex;
  padding: 0 19px;
  padding-top: 18px;
  padding-bottom: 30px;
  background-color: #c4c4c4;
}
.header__title {
  font-size: 40px;
  margin: 0;
  height: 40;
  width: 235px;
  text-align: center;
  margin-left: 26px;
}
